# Node
node_modules/
dist/

# Environment
.env
.env.local

# Go
*.exe
*.test

# Database
*.db
*.sqlite
*.sqlite3

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
gitignore

# Backend
backend/kanban.db

# Frontend
frontend/node_modules/
frontend/dist/

# Sistema
.DS_Store

# Editor
.vscode/